body {
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 246, 236) 39.5%,
    rgba(100, 46, 122, 0.23) 100.2%
  );
  margin-top: 25px;
}

h1 {
  font-family: "Cabin Sketch", cursive;
  color: black;
  font-size: 50px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 3;
  margin-top: 40px;
}

h2 {
  font-family: "Cabin Sketch", cursive;
  color: black;
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
}

img {
  
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-family: "New Tegomin", serif;
  list-style: none;
  margin: 0;
  padding: 0;

  color: black);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30 auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #adafb3;
  border-radius: 5px;
  background-image: url(https://i.pinimg.com/564x/7c/08/5b/7c085bca72e89246cace1a84300a6ba5.jpg);
  opacity: 1.0;
  max-width: 500px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-family: "Cabin Sketch", cursive;
  color: #202124;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  margin-top: 3px;
}

a {
  color: black;
  text-decoration: none;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.celsius-link {
  color: #202124;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  font-family: "New Tegomin", serif;
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-family: "New Tegomin", serif;
  font-size: 13px;
}

.row {
  padding-top: 10px;
}

.btn-primary {
  background-color: #f56565;
  border-color: rgb(240, 216, 216);
}
